{% extends "base.html" %}
{% block content %}
    <a class="btn btn-warning btn-xs" data-toggle="modal"
       data-target="#myModal">回滚</a>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">历史版本</h4>
                </div>
                <div class="modal-body">
                    <table class="result-tab" width="100%">
                        <tr>
                            <th>提交ID</th>
                            <th>提交人</th>
                            <th>提交时间</th>
                            <th>提交信息</th>
                        </tr>
                        {% for i in log %}
                            <tr>
                                <td>{{ i.short_id }}</td>
                                <td>{{ i.author_name }}</td>
                                <td>{{ i.created_at }}</td>
                                <td>{{ i.message }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary">确定</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}