{% extends "base.html" %}

{% block title %}
    项目列表
{% endblock %}

{% block content %}
    <div class="search-wrap" xmlns="http://www.w3.org/1999/html">
        <div class="search-content">
            <form action="{% url  "searchdataurl" %}" method="get">
                <table class="search-tab">
                    <tr>
                        {% if nameinput == "disabled" %}
                            <th width="70">姓名:</th>
                            <td><input class="common-text" placeholder="韩光祖" name="username" value="" id="" type="text"
                                       disabled="disabled"></td>
                        {% else %}
                            <th width="70">姓名:</th>
                            <td><input class="common-text" placeholder="韩光祖" name="username" value="" id="" type="text">
                            </td>
                        {% endif %}
                        <th width="100">选择日期:</th>
                        <td>
                            <input type="text" id="datePicker" class="input-sm form-control" name="start"/>
                        </td>
                        <td>
                            <input type="text" id="datePicker2" class="input-sm form-control" name="end"/>
                        </td>
                        <script type="text/javascript">
                            $(function () {
                                $('#datePicker').date_input();
                                $('#datePicker2').date_input();
                            });
                        </script>
                        <td><input class="btn btn-primary btn2" name="sub" value="查询" type="submit"></td>
                    </tr>
                </table>
            </form>
        </div>
    </div>

    <table class="result-tab" width="100%">
        <tr>
            <th>项目ID</th>
            <th>名称</th>
            <th>所有者</th>
            <th>克隆 URL</th>
            <th>创建时间</th>
            <th>操作</th>
        </tr>
        {% for foo in lpage %}
            <tr>
                <td>{{ foo.pro_id }}</td>
                <td>{{ foo.pro_name }}</td>
                <td>{{ foo.pro_owner }}</td>
                <td>{{ foo.pro_url }}</td>
                <td>{{ foo.pro_create_time }}</td>
                <td class="host_buttom">
                    <a class="btn btn-success btn-xs" href={% url "prosettingurl" foo.pro_url %}>设置</a>
                    <a class="btn btn-danger btn-xs" href="{% url "uploadprojecturl" foo.pro_url %}" onclick="return confirm('是否确认删除？')">删除</a>
                    <a type="button" class="btn btn-warning btn-lg" href={% url "uploadapplyurl" foo.pro_id foo.pro_name foo.pro_url %}>申请上线</a>
                    <button type="button" class="btn btn-info btn-lg">发布测试</button>
                </td>
            </tr>
        {% endfor %}
    </table>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">历史版本</h4>
                </div>
                <div class="modal-body">
                    <table class="result-tab" width="100%">
                        <tr>
                            <th>提交ID</th>
                            <th>提交人</th>
                            <th>提交时间</th>
                            <th>提交信息</th>
                        </tr>
                        {% for i in pro_log %}
                            <tr>
                                <td>{{ i.short_id }}</td>
                                <td>{{ i.author_name }}</td>
                                <td>{{ i.created_at }}</td>
                                <td>{{ i.message }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary">确定</button>
                </div>
            </div>
        </div>
    </div>
    {% include "paginator.html" %}
    <script>
        function rollback(obj) {
            var pro_log=JSON.parse(obj);
            alter(pro_log);
        }
    </script>
{% endblock %}