{% extends "base.html" %}

{% block title %}
    {{ Pname }} 申请上线
{% endblock %}

{% block content %}
    <div class="btn-group">
        <a class="btn btn-default"><span class="glyphicon glyphicon-upload"></span>项目上线</a>
        {% url "listallprojectsurl" as thelistallprojectsurl %}
        <a class="btn btn-default {% if request.path == thelistallprojectsurl %} active {% endif %}" href={{ thelistallprojectsurl }}>
            <span class="glyphicon glyphicon-th-list"></span>项目列表</a>
    </div>
    <hr/>
    <form action="{% url "uploadapplyurl" ID Pname Url%}" method="post">
        {% csrf_token %}
        <style>
            table {
                border-collapse: separate;
                border-spacing: 10px;
            }
        </style>
        <table> {{ form.as_table }} </table>
        <div class="form-group" style="margin-right: 0">
            <div class="col-md-offset-1 col-md-10">
                <button type="submit" class="btn btn-danger btn-sm">申请</button>
            </div>
        </div>
    </form>
{% endblock %}