{% extends "base.html" %}

{% block title %}Git 系统设置{% endblock %}

{% block content %}
    <div class="btn-group">
    <a class="btn btn-default">
        <span class="glyphicon glyphicon-cog"></span>系统配置</a>
    </div>
    <hr/>
    <form action="{% url "gitsettingurl" %}" method="post">
        {% csrf_token %}
        <style>
            table {
                border-collapse: separate;
                border-spacing: 10px;
            }
        </style>
        <script type="text/javascript">
            $(function () {
                $('#id_birthday').date_input();
            });
        </script>
        <table> {{ form.as_table }} </table>
        <div class="form-group" style="margin-right: 0">
            <div class="col-md-offset-1 col-md-10">
                <button type="submit" class="btn btn-success btn-sm">保存</button>
            </div>
        </div>
    </form>
{% endblock %}