{% extends "base.html" %}

{% block title %}
    添加用户Token
{% endblock %}

{% block content %}
    <form class="form-horizontal" role="form" action="{% url "tokenaddurl" %}" method="post">
    {% csrf_token %}
        {% for item in form %}
            <div class="form-group" style="margin-right: 0">
                <label class="control-label col-md-1">{{ item.label }}</label>
                <div class="col-md-2">
                    {{ item }}
                </div>
                <div class="col-md-offset-1 col-md-10">
                    {{ item.errors }}
                </div>
            </div>

        {% endfor %}

        <div class="form-group" style="margin-right: 0">
            <div class="col-md-offset-1 col-md-10">
                <button type="submit" class="btn btn-danger btn-sm">新增</button>
            </div>
        </div>
    </form>
{% endblock %}