{% extends "base.html" %}

{% block title %}
    添加主机
{% endblock %}

{% block content %}
    <div>
        <div class="btn-group">
            {% url "addhosturl" as theaddhosturl %}
            <a class="btn btn-default {% if request.path == theaddhosturl %}
            active
            {% endif %}"
               href={{ theaddhosturl }}><span class="glyphicon glyphicon-edit"></span>添加主机</a>
            {% url "listidcurl" as thelistidcurl %}
            <a class="btn btn-default {% if request.path == theaddhosturl %}
            active
            {% endif %}"
               href={{ thelisthosturl }}><span class="glyphicon glyphicon-list"></span>主机列表</a>
        </div>
    </div>
    <hr/>

    <form class="form-horizontal" role="form" action={% url "addhosturl" %} method="post">
    {% csrf_token %}

        {% for item in form %}
            <div class="form-group">
                <label class="control-label col-md-1">{{ item.label }}</label>
                <div class="col-md-2">
                    {{ item }}
                </div>
                <div class="col-md-offset-1 col-md-10">
                    {{ item.errors }}
                </div>
            </div>

        {% endfor %}

        <div class="form-group">
            <div class="col-md-offset-1 col-md-10">
                <button type="submit" class="btn btn-danger btn-sm">新增</button>
            </div>
        </div>
    </form>
{% endblock %}