{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static "css/base.css" %}" rel="stylesheet">
    <link href="{% static "css/main.css" %}" rel="stylesheet">
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link href="/static/css/datePicker.css" rel="stylesheet">
    <script src="http://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="/static/js/jquery.bootstrap-duallistbox.js"></script>
    <script src="/static/js/jquery.date_input.pack.js"></script>
    <script src="http://cdn.bootcss.com/iScroll/5.2.0/iscroll-infinite.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-duallistbox.css">
</head>
<body>
    <div id="header">
        <span class="logo">Niubilety</span>
        {% if request.user.is_authenticated %}
        <ul class="menu">
            <li {% if section == "dashboard" %}class="selected"{% endif %}><a href="{% url "dashboard" %}">主页</a></li>
            <li {% if section == "images" %}class="selected"{% endif %}><a href="#">任务</a></li>
            <li {% if section == "people" %}class="selected"{% endif %}><a href="#">消息</a></li>
        </ul>
        {% endif %}
        
        <span class="user">
        {% if request.user.is_authenticated %}
            {% if request.user.first_name %}
                欢迎{{ request.user.first_name }}, <a href="{% url "logout" %}">退出</a>
            {% else %}
                欢迎{{ request.user.username }}, <a href="{% url "logout" %}">退出</a>
            {% endif %}
        {% else %}
            <a href="{% url "login" %}">登录</a>
        {% endif %}
        </span>
    </div>
    {% if request.user.is_authenticated %}
        {% include "sidebar.html" %}
    {% endif %}
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li class="{{ message.tags }}">
                    {{ message|safe }}
                    <a href="#" class="close">×</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    <div id="content">
        {% block content %}
        {% endblock %}
    </div>

</body>
<script >
    $(document).ready(function(){
        $("#table-top th:first-child").width($(".abc td:first-child").width()+2);
        $("#table-top th:nth-child(2)").width($(".abc td:nth-child(2)").width()+1);
        $("#table-top th:nth-child(3)").width($(".abc td:nth-child(3)").width());
        $("#table-top th:nth-child(4)").width($(".abc td:nth-child(4)").width());
        $("#table-top th:nth-child(5)").width($(".abc td:nth-child(5)").width());
        $("#table-top th:nth-child(6)").width($(".abc td:nth-child(6)").width());
        $("#table-top th:nth-child(7)").width($(".abc td:nth-child(7)").width());
        $("#table-top th:nth-child(8)").width($(".abc td:nth-child(8)").width());
        $("#table-top th:nth-child(9)").width($(".abc td:nth-child(9)").width());
        $("#table-top th:nth-child(10)").width($(".abc td:nth-child(10)").width());


        console.log($(".abc td:nth-child(2)").width());
      $(window).bind("scroll",function(){
          var sTop = $(window).scrollTop();
          if(sTop > 159){
              $("#table-top").css('top',0);
              $("#table-top").css('position','fixed');
          }
          else{
              $("#table-top").css('top',"159px");
              $("#table-top").css('position','absolute');
          }


      })
    });
</script>
</html>
