<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>导航</title>
</head>
<body>
<script type="text/javascript" src="../static/drop_down.js"></script>
<style type="text/css">
@import "../static/style3.css";
</style>
<ul> 
  <li><a href="/"><i class="fa fa-home"></i>  首页</a></li>
  <li><a href="/idc">❀<i class="fa fa-refresh"></i>IDC管理</a></li>
  <li><a href="#">❀服务配置</a> 
      <ul> 
      <li><a href="#">网页设计</a></li> 
      <li><a href="#">电商</a></li> 
      <li><a href="#">主机</a></li> 
      <li><a href="#">域名</a></li> 
      <li><a href="#">宣传</a></li> 
      </ul> 
  </li>
  <li><a href="#">❀主机管理</a>
  <ul>
      <li><a href="#">添加主机</a></li>
      <li><a href="#">删除主机</a></li>
      <li><a href="#">软件安装</a></li>
      </ul>
  </li>
  <li><a href="#">❀docker管理</a>
  <ul>
      <li><a href="#">添加主机</a></li>
      <li><a href="#">删除主机</a></li>
      <li><a href="#">生成镜像</a></li>
      </ul>
  </li>
  <li><a href="#">❀Git管理</a>
  <ul>
      <li><a href="#">创建项目</a></li>
      <li><a href="#">删除项目</a></li>
      <li><a href="#">回滚历史</a></li>
      </ul>
  </li>
  <li><a href="#">❀联系我们</a> 
      <ul> 
      <li><a href="#">英国</a></li> 
      <li><a href="#">法国</a></li> 
      <li><a href="#">美国</a></li> 
      <li><a href="#">澳大利亚</a></li>
      </ul>
  </li>
</ul>

</body>
</html>