{% extends "base.html" %}

{% block title %}机房信息{% endblock %}

<div style="border:1px dashed;width:990px;height:600px;margin-top:30px;margin-left:300px">
  <a style="font-size: 25px;text-align:center">❀ IDC概况</a>
    <div style="float: right;border: 1px dashed;width: 40px;height: 40px;font-size:xx-large;text-align: center;border-top: hidden;border-right: hidden">
        <a href="/idcadd_play/" style="text-decoration: none">+</a>
    </div>
  <hr style="border-top : 1px dashed;" />

  <style type="text/css">
  .tg  {border-collapse:collapse;border-spacing:0;}
  .tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;text-align:center}
  .tg th{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
  </style>

  <table class="tg" width="95%" align="center">
    <tr>
      <th class="tg-031e">合作商</th>
      <th class="tg-031e">所在城市</th>
      <th class="tg-031e">地理位置</th>
      <th class="tg-031e">机器数量</th>
      <th class="tg-031e">机房带宽(M)</th>
      <th class="tg-031e">机房年费(元)</th>
      <th class="tg-031e">合作时间</th>
      <th class="tg-031e">值班电话</th>
      <th class="tg-031e">机房状态</th>
      <th class="tg-031e">可用操作</th>
    </tr>
      {% for idc in idc_list %}
          <tr>
           <td class="tg-031e idname"> {{ idc.idcname }} </td>
           <td class="tg-031e cityname"> {{ idc.cityname }} </td>
           <td class="tg-031e position"> {{ idc.position }} </td>
           <td class="tg-031e hostnum"> {{ idc.hostnum }} </td>
           <td class="tg-031e hostnum"> {{ idc.bandwidth }} </td>
           <td class="tg-031e hostnum"> {{ idc.expense }} </td>
           <td class="tg-031e startime"> {{ idc.starttime }} </td>
           <td class="tg-031e tel"> {{ idc.iphonecall }} </td>
              {% if idc.status == 1 %}
                  <td class="tg-031e status"> 使用中 </td>
              {% else %}
                  <td class="tg-031e status"> 未使用 </td>
              {% endif %}

           <td>
               <a href="/idcedit_data/?id={{ idc.id }}"><button>更新</button></a>
               <a href="/idcdel_data/?id={{ idc.id }}"><button>删除</button></a>
           </td>
          </tr>
      {% endfor %}
  </table>
</div>


