<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加IDC节点</title>

</head>
<body>
{% include "top.html" %}
<div style="float:left;">
    {% include "dh.html" %}
</div>

<div
    style="border:1px dashed;width:990px;height:600px;margin-top:30px;margin-left:300px">
    <div style="border:1px dashed;width:500px;height:550px;margin-top:10px;margin-left:220px;border-top: hidden;border-right: hidden;border-left: hidden;border-bottom: hidden">
        <a style="font-size: 25px;text-align:center">+添加IDC节点</a>
        <form action="/idcadd_data/" method="get" class="well form-inline">
           IDC名称 <input style="border:1px dashed;margin-top:20px;margin-left:50px" type="text" name="idcname" class="bg-success" placeholder="如：世纪互联">*</br>
           所在城市 <input style="border:1px dashed;margin-top:20px;margin-left:50px" type="text" name="cityname" class="bg-success" placeholder="如：北京">*</br>
           机房地址 <input style="border:1px dashed;margin-top:20px;margin-left:50px" type="text" name="position" class="bg-success" placeholder="如：北京市海淀区系西二旗北路20号">*</br>
           主机数量 <input style="border:1px dashed;margin-top:20px;margin-left:50px" type="text" name="hostnum" class="bg-success" placeholder="如：100">*</br>
           机房带宽(M) <input style="border:1px dashed;margin-top:20px;margin-left:30px" type="text" name="bandwidth" class="bg-success" placeholder="如：100">*</br>
           机房年费(元) <input style="border:1px dashed;margin-top:20px;margin-left:30px" type="text" name="expense" class="bg-success" placeholder="如：100">*</br>
           开始合作 <input style="border:1px dashed;margin-top:20px;margin-left:50px" type="date" name="starttime" class="bg-success" placeholder="如：2014-05-12">*</br>
           机房电话 <input style="border:1px dashed;margin-top:20px;margin-left:50px" type="text" name="iphonecall" class="bg-success" placeholder="如：13232423425">*</br>
           使用状态 <select style="border:1px dashed;margin-top:20px;margin-left:50px" name="status" id="changelist-filter">
            <option></option>
            <option>OK</option>
            <option>NO</option>
        </select></br>
        <button style="margin-top:20px" type="submit" class="btn">添加</button>
        </form>
    </div>
</div>
</body>
</html>
