{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>导航</title>
    <link href="{% static "css/common.css" %}" rel="stylesheet">
    <link href="{% static "css/main.css" %}" rel="stylesheet">
    <script src="{% static "js/libs/modernizr.min.js" %}" type="text/javascript"></script>
</head>
<body>
    <div class="sidebar-wrap">
        <div class="sidebar-title">
            菜单
        </div>
        <div class="sidebar-content">
            <ul class="sidebar-list">
                <li>
                    <a href="{% url "listuserurl" %}">
                        <i class="icon-font">&#xe014</i>
                        用户管理
                    </a>
                    <ul class="sub-menu">
                        <li><a href="{% url "listroleurl" %}"><i class="icon-font">&#xe003</i>群组</a> </li>
                    </ul>
                    <ul class="sub-menu">
                        <li><a href="{% url "listpermissionurl" %}"><i class="icon-font">&#xe017</i>权限</a> </li>
                    </ul>
                </li>
            </ul>

            <ul class="sidebar-list">
                <li>
                    <a href="{% url "listidcurl" %}">
                        <i class="icon-font">&#xe040</i>
                        IDC管理
                    </a>
                    <ul class="sub-menu">
                        <li><a href="{% url "listroleurl" %}"><i class="icon-font">&#xe041</i>群组</a> </li>
                    </ul>
                    <ul class="sub-menu">
                        <li><a href="{% url "listpermissionurl" %}"><i class="icon-font">&#xe062</i>主机</a> </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>