<!DOCTYPE html>
<html>
<head>
    <!--meta charset="utf-8">-->
    <title>用户信息</title>
    <!--link href="../static/buttons.css" type="text/css" rel="stylesheet">-->
</head>
<body>
{% include "top.html" %}
<div style="float:left;">
    {% include "dh.html" %}
</div>   

<div style="border:1px dashed;width:990px;height:600px;margin-top:30px;margin-left:300px">
  <a style="font-size: 25px;text-align:center">❀ 所有用户</a>
    <div style="float: right;border: 1px dashed;width: 40px;height: 40px;font-size:xx-large;text-align: center;border-top: hidden;border-right: hidden">
        <a href="/useradd_play/" style="text-decoration: none">+</a>
    </div>
  <hr style="border-top : 1px dashed;" />
 
  <style type="text/css">
  .tg  {border-collapse:collapse;border-spacing:0;}
  .tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;text-align:center}
  .tg th{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
  </style>

  <table class="tg" width="95%" align="center">
    <tr>
      <th class="tg-031e">真实姓名</th>
      <th class="tg-031e">用户邮箱</th>
      <th class="tg-031e">用户分组</th>
      <th class="tg-031e">可用操作</th>
    </tr>
      {% for user in user_list %}
          <tr>
           <td class="tg-031e username"> {{ user.username }} </td>
           <td class="tg-031e mail"> {{ user.mail }} </td>
              {% if user.groupnum == 0 %}
                  <td class="tg-031e 用户分组"> 运维 </td>
              {% else %}
                  <td class="tg-031e 用户分组"> 开发 </td>
              {% endif %}

           <td>
               <a href="/useredit_data/?id={{ user.id }}"><button>更新</button></a>
               <a href="/userdel_data/?id={{ user.id }}"><button>删除</button></a>
           </td>
          </tr>
      {% endfor %}
  </table>
</div>
</body>
</html>