<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>更新用户信息</title>

</head>
<body>
{% include "top.html" %}
<div style="float:left;">
    {% include "dh.html" %}
</div>

<div
    style="border:1px dashed;width:990px;height:600px;margin-top:30px;margin-left:300px">
    <div style="border:1px dashed;width:500px;height:550px;margin-top:10px;margin-left:220px;border-top: hidden;border-right: hidden;border-left: hidden;border-bottom: hidden">
        <a style="font-size: 25px;text-align:center">+更新用户信息</a>
        <form action="/useredit_commit/" method="get" class="well form-inline">
           <input style="border:1px dashed;margin-top:20px;margin-left:80px" value="{{ id }}" name="id" type="hidden">
           真实姓名 <input style="border:1px dashed;margin-top:20px;margin-left:50px" value="{{ username }}" type="text" name="username" class="bg-success"> *</br>
           用户邮箱 <input style="border:1px dashed;margin-top:20px;margin-left:50px" value="{{ mail }}" type="text" name="mail" class="bg-success"> *</br>
           输入密码 <input style="border:1px dashed;margin-top:20px;margin-left:50px" value="{{ pwd }}" type="password" id="pw1" name="pw1" onkeyup="keyup()" class="bg-success"> *<strong id="warning1" style="color: #F00;"></strong></br>
           再次输入 <input style="border:1px dashed;margin-top:20px;margin-left:50px" value="{{ pwd }}" type="password" id="pw2" name="pw2" onkeyup="keyup()" class="bg-success"> *<strong id="warning2" style="color: #F00;"></strong></br>
           所属分组 <select style="border:1px dashed;margin-top:20px;margin-left:50px" name="groupnum" id="changelist-filter">
            {% if groupnum == 0 %}
                <option value="运维">运维</option>
                <option value="开发">开发</option>
            {% else %}
                <option value="开发">开发</option>
                <option value="运维">运维</option>
            {% endif %}
        </select></br>
       <input type="submit" id="test" value="更新">
        </form>
    </div>
</div>
</body>
</html>
<script>
    function keyup() {
        var pw1 = document.getElementById("pw1").value;
        var pw2 = document.getElementById("pw2").value;
        var regex = new RegExp('(?=.*[0-9])(?=.*[a-zA-Z])(?=.*[^a-zA-Z0-9]).{6,20}');
        var mytest = regex.test(pw1)
        if(mytest==false) {
            document.getElementById("warning1").textContent="保证密码长度6-20,包含数字,字母特殊字符";
            document.getElementById('test').disabled=true;
            return false;
        }
        else {
            document.getElementById("warning1").textContent="";
            document.getElementById('test').disabled=false;
        }
        if(pw1 !== pw2) {
            document.getElementById("warning2").textContent="两次输入的密码不一样";
            document.getElementById('test').disabled=true;
        }
        else {
            document.getElementById("warning2").textContent="";
            document.getElementById('test').disabled=false;
        }
    }
    </script>