{% extends "base.html" %}

{% block title %}
    考勤列表
{% endblock %}

{% block content %}
    <div class="search-wrap" xmlns="http://www.w3.org/1999/html">
            <div class="search-content">
                <form action="#" method="post">
                    <table class="search-tab">
                        <tr>
                            <th width="70">姓名:</th>
                            <td><input class="common-text" placeholder="韩光祖" name="fullname" value="" id="" type="text"></td>
                            <th width="100">选择日期:</th>
                            <td>
                                    <input type="text" id="datePicker" class="input-sm form-control" name="start" />
                            </td>
                            <td>
                                    <input type="text" id="datePicker2" class="input-sm form-control" name="end" />
                            </td>
                            <script type="text/javascript">
                                        $(function () {
                                            $('#datePicker').date_input();
                                            $('#datePicker2').date_input();
                                        });
                            </script>
                            <td><input class="btn btn-primary btn2" name="sub" value="查询" type="submit"></td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>

    <table class="result-tab" width="100%">
        <tr>
            <th class="tc" width="5%"></th>
            <th>姓名</th>
            <th>日期</th>
            <th>星期</th>
            <th>上班</th>
            <th>下班</th>
            <th>加班[时]</th>
            <th>迟到[时]</th>
            <th>请假[时]</th>
            <th>描述信息</th>
        </tr>

        {% for foo in lpage %}
        <tr>
            <td class="tc">
                <input type="checkbox" value="" name="id[]">
            </td>
            <td>{{ foo.fullname.fullname }}</td>
            <td>{{ foo.date }}</td>
            <td>{{ foo.week }}</td>
            {% if foo.on == None %}
                <td></td>
            {% else %}
                <td>{{ foo.on }}</td>
            {% endif %}
            {% if foo.off == None %}
                <td></td>
            {% else %}
                <td>{{ foo.off }}</td>
            {% endif %}
            {% if foo.plus == None %}
                <td></td>
            {% else %}
                <td>{{ foo.plus }}</td>
            {% endif %}
            {% if foo.late == None %}
                <td></td>
            {% else %}
                <td>{{ foo.late }}</td>
            {% endif %}
            {% if foo.leave == None %}
                <td></td>
            {% else %}
                <td>{{ foo.leave }}</td>
            {% endif %}
            <td>{{ foo.content }}</td>
        </tr>
        {% endfor %}

    </table>
    {% include "paginator.html" %}
{% endblock %}