{% extends "base.html" %}

{% block title %}
    考勤列表
{% endblock %}

{% block content %}
    <hr/>

    <table class="result-tab" width="100%">
        <tr>
            <th class="tc" width="5%"></th>
            <th>ID</th>
            <th>姓名</th>
            <th>日期</th>
            <th>上班</th>
            <th>下班</th>
            <th>加班</th>
            <th>迟到</th>
            <th>请假</th>
            <th>描述信息</th>
        </tr>

        {% for foo in lpage %}
        <tr>
            <td class="tc">
                <input type="checkbox" value="" name="id[]">
            </td>
            <td>{{ foo.id }}</td>
            <td>{{ foo.fullname.fullname }}</td>
            <td>{{ foo.date }}</td>
            <td>{{ foo.on }}</td>
            <td>{{ foo.off }}</td>
            <td>{{ foo.plus }}</td>
            <td>{{ foo.late }}</td>
            <td>{{ foo.leave }}</td>
            <td>{{ foo.content }}</td>
        </tr>
        {% endfor %}

    </table>
    {% include "paginator.html" %}
{% endblock %}